name: backend                                         

on:                                                   
  push:
    branches:
      - main
  pull_request:
    branches:
      - main
      - develop

defaults:
  run:
    working-directory: backend                        

jobs:
  build:
    runs-on: ubuntu-latest                            
    steps:                                            
      - name: Checkout
        uses: actions/checkout@v3                     

      - name: Set up JDK
        uses: actions/setup-java@v3                   
        with:
          java-version: '11'
          distribution: 'temurin'
          
      - name: Build
        run: ./gradlew build --exclude-task test

      - name: Test  
        env: 
          client-id: ${{ secrets.CLIENT_ID }}
          client-secret: ${{ secrets.CLIENT_SECRET }}
          jwt-secret-key: ${{ secrets.JWT_SECRET_KEY }}
          jwt-expire-length: ${{ secrets.JWT_EXPIRE_LENGTH }}
        run: ./gradlew test -Doauth2.github.client-id=${{ env.client-id }} -Doauth2.github.client-secret=${{ env.client-secret }} -Dsecurity.jwt.token.secret-key=${{ env.jwt-secret-key }} -Dsecurity.jwt.token.expire-length=${{ env.jwt-expire-length }}
