name: Deploy Frontend Dev

on:
  push:
    branches: [ "develop" ]

defaults:
  run:
    working-directory: frontend

jobs:
  build:

    runs-on: ubuntu-latest

    strategy:
      matrix:
        node-version: [16.x]

    steps:
    - uses: actions/checkout@v3
    
    - name: Use Node.js ${{ matrix.node-version }}
      uses: actions/setup-node@v3
      with:
        node-version: ${{ matrix.node-version }}
        cache: 'npm'
        cache-dependency-path: "./frontend/package-lock.json"
    
    - name: Install
      run: npm install
      
    - name: Build
      run: npm run build-dev
      
    - name: Deploy
      run: curl ${{ secrets.FE_DEV_DEPLOY_REQUEST_URL }}
      
  cypress-E2E:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - run: ls -a
      - uses: actions/setup-node@v3
        with:
          node-version: '18.1.0'
      - run: npm install
      - uses: cypress-io/github-action@v2
        with:
          start: npm run start
          wait-on: 'http://localhost:3000'
          # the entire command will automatically be prefixed with "npm"
          # and we need the second "npm" to execute "cypress run ..." command line
